<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <%- include('./partials/css') %>
</head>
<body>
    <h1>CREATE BENEFICIARY</h1>

    <form action="/beneficiary/add" method="POST">
        <label for="institution">Institution</label>
        <input type="text" id="institution" name="institution"><br><br>
        
        <label for="target">Target</label>
        <input type="number" id="target" name="target"><br><br>

        <label for="head_of_institution">Chief of Institution</label>
        <input type="text" id="head_of_institution" name="head_of_institution"><br><br>

        <input type="submit" value="CREATE">
    </form>
</body>
</html>