<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <%- include('./partials/css') %>
</head>
<body>
    <h1>FORM REGISTER</h1>
    <h4>Self Identity</h4><br><br>
    <form action="/donors/register" method="POST">
        <label for="donor_name">DONOR NAME:</label>
        <input type="text" id="donor_name" name="donor_name" placeholder="DONOR NAME"><br><br>
        
        <label for="email">EMAIL:</label>
        <input type="email" id="email" name="email" placeholder="EMAIL"><br><br>

        <label for="password">PASSWORD:</label>
        <input type="password" id="password" name="password" placeholder="PASSWORD"><br><br>

        <label for="confirm_password">CONFIRM PASSWORD:</label>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="CONFIRM PASSWORD"><br><br>

        <input type="submit" value="REGISTER">
    </form>
</body>
</html>